.hero-content {
  text-align: left;
  margin: 50px;
  max-width: 500px;
}
.big {
  font-size: 70px;
}
.white {
  color: white;
}

.heropara {
  line-height: 1.6;
}

.btn {
  font-weight: 800;
  margin-top: 20px;
  background-color: white;
  color: #1f2535;
  padding: 15px;
  border-radius: 5px;
  border-color: white;
}
